numpy
pandas
rasterio
geopandas
shapely
black
flake8
pytest
matplotlib
opencv-python-headless
ipykernel
scikit-learn
tqdm
rschip
segmentation-models-pytorch
albumentations
scikit-image